<div class="row">
    <div class="col-md-4" *ngFor="let stat of stats">
        <div class="card order-card" [ngClass]="[(stat.appreciation)]">
          <div class="card-block">
            <h1>{{ stat.title }}</h1>
            <p>
              Id : {{ stat.id }}<br>
              Valeur : {{ stat.value }}
            </p>
            <button class="btn btn-danger" title="delete stat" (click)="delete(stat)">Supprimer x</button>
          </div>
        </div>
    </div>
</div>
