.SUCCESS {
  background: linear-gradient(45deg,#7ad67c,#56d41e);
}
.ERROR {
  background: linear-gradient(45deg,#e37a7a,#d41e1e);
}
.WARNING {
  background: linear-gradient(45deg,#feff00,#ccd017);
  color: #111 !important;
}

.SUCCESS:hover .card-block {
  border: 5px solid green;
}
.ERROR:hover .card-block {
  border: 5px solid red;
}
.WARNING:hover .card-block {
  border: 5px solid yellow;
}

.order-card {
  color: #fff;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}
